@use "../Foundation/global" as *;
.l-container {
  width: calc($width-base + $padding-pc * 2);
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 $padding-pc;

  @include mq("tab") {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
    width: 100%;
  }

  @include mq("sp") {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    width: 100%;
  }
}