@use '../../Foundation/global'as *;

.p-aboutusNav {
    padding: 0 50px;
    margin-top: 80px;
    &__ul {
        display: flex;
        justify-content: center;
        @include mq('sp') {
            flex-wrap: wrap;
            padding: 0;
        }
    }
    &__list {
        position: relative;
        list-style: none;
        text-align: center;
        max-width: 300px;
        width: 100%;
        padding-bottom: 20px;
        border-left: solid 2px black;
        &:last-child {
            border-right: solid 2px black;
        }
        @include mq('sp') {
            width: 50%;
            &:nth-child(2n) {
                border-right: solid 2px black;
            }
            &:nth-child(n+3) {
                margin-top: 20px;
            }
        }
    }
    &__text {
        font-size: clamp(1rem, 0.786rem + 0.95vw, 1.5rem);
    }
    &__arrow {
        width: 12px;
        height: 12px;
        border: 2px solid;
        border-color:  transparent transparent $color-main $color-main;
        transform: rotate(-45deg);
        cursor: pointer;
        position: absolute;
        left: 48%;
        right: 52%;
    }
}

.c-sectionTitle {
    width: 100%;
    text-align: center;
    &__mainTitle {
        font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
    }
    &__subTitle {
        font-size: 16px;
    }
    &__mainTitleWhite {
        font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
        color: $color-background-sub;
    }
    &__subTitleWhite {
        font-size: 16px;
        color: $color-background-sub;
    }
}
.c-button {
    margin-top: 24px;
    background-color: $color-main;
    &__text {
        padding: 32px 84px;
        color: $color-background-sub;
    }
}

.p-aboutusMessage {
    margin-top: 174px;
    @include mq('sp') {
        margin-top: 80px;
    }
    &__container {
        margin-top: 80px;
        @include mq('tab') {
            display: flex;
            justify-content: center;
            margin-top: 42px;
        }
    }
    &__contents {
        gap: 0 10%;
        display: flex;
        justify-content: center;
        @include mq('tab') {
            width: 600px;
            flex-direction: column-reverse;
            margin-top: 42px;
        }
    }
    &__textWrapper {
        margin-top: 48px;
        max-width: 256px;
        @include mq('tab') {
            margin: 40px auto 0;
        }
    }
    &__textTitle {
        font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
        font-weight: bold;
        @include mq('tab') {
            text-align: center;
        }
    }
    &__companyName {
        margin-top: 24px;
    }
    &__presidentBox {
        display: flex;
        align-items:flex-end
    }
    &__president {
        line-height: 2;
    }
    &__presidentName {
        margin-left: 24px;
        font-size: 24px;
        font-weight: bold;
    }
    &__img {
        width: 100%;
        max-width: 648px;
        @include mq('tab') {
            max-width: 100%;
        }
    }
}

.p-aboutusPhilosophy {
    background-color: #26226B;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    @include mq('sp') {
        margin-top: 80px;
    }
    &__inner {
        padding-top: 144px;
        padding-bottom: 144px;
        margin: 0;
        @include mq('sp') {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &__imgContainer {
        position: relative;
        margin-top: 100px;
        padding-top: 64px;
        @include mq('tab') {
            padding-top: 310px;
        }
        @include mq('sp') {
            margin-top: 40px;
            padding-top: 164px;
        }
    }
    &__imgContainerPic {
        position: absolute;
        top: 0%;
        right: 0%;
        max-width: 50%;
        @include mq('tab') {
            right: -30px;
            max-width: 540px;
            height: 360px;
            padding-left: 30px;
        }
        @include mq('sp') {
            max-width: 320px;
            height: 200px;
            right: -20px;
        }
    }
    &__imgContainerMessage {
        height: 400px;
        width: 55%;
        padding: 64px 200px 64px 36px;
        background-color: $color-background-sub;
        @include mq('tab') {
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 540px;
            width: 100%;
            min-height: 360px;
            height: auto;
            padding: 96px 10px 10px;
        }
        @include mq('sp') {
            max-width: 335px;
            min-height: 200px;
            padding: 60px 20px 20px;
        }
    }
    &__imgContainerTitle {
        position: relative;
        font-size: clamp(1.25rem, 1.036rem + 0.95vw, 1.75rem);
        font-weight: bold;
        padding-bottom: 12px;
        letter-spacing: 1.4px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: inline-block;
            width: 65px;
            height: 3px;
            background-color: $color-main;
            @include mq('tab') {
                left: 50%;
                transform: translateX(-50%);
            }
            @include mq('sp') {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__imgContainerText {
        margin-top: 28px;
        font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
        font-weight: bold;
        &--span {
            @include mq('tab') {
                display: none;
            }
            @include mq('sp') {
                display: none;
            }
        }
        &--br {
            display: none;
            @include mq('tab') {
                display: inline;
            }
            @include mq('sp') {
                display: inline;
            }
        }
    }
    &__imgContainerText--tab {
        visibility: hidden;
        @include mq('tab') {
            visibility: visible;
            margin-top: 28px;
            font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
            font-weight: bold;
        }
    }

    &__imgContainerReverse {
        position: relative;
        display: flex;
        justify-content: end;
        margin-top: 100px;
        padding-top: 64px;
        @include mq('tab') {
            padding-top: 310px;
        }
        @include mq('sp') {
            margin-top: 40px;
            padding-top: 164px;
        }
    }
    &__imgContainerPicReverse {
        position: absolute;
        top: 0%;
        left: 0%;
        max-width: 50%;
        @include mq('tab') {
            left: -30px;
            max-width: 540px;
            height: 360px;
            padding-right: 30px;
        }
        @include mq('sp') {
            max-width: 320px;
            height: 200px;
            left: -20px;
        }
    }
    &__imgContainerMessageReverse {
        height: 400px;
        width: 55%;
        padding: 64px 36px 64px 200px;
        background-color: $color-background-sub;
        @include mq('tab') {
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 540px;
            width: 100%;
            min-height: 360px;
            height: auto;
            padding: 96px 20px 20px;
        }
        @include mq('sp') {
            max-width: 335px;
            min-height: 200px;
            padding: 60px 10px 10px;
        }
    }
    &__imgContainerTitleReverse {
        position: relative;
        font-size: clamp(1.25rem, 1.036rem + 0.95vw, 1.75rem);
        font-weight: bold;
        padding-bottom: 12px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: inline-block;
            width: 65px;
            height: 3px;
            background-color: $color-main;
            @include mq('tab') {
                left: 50%;
                transform: translateX(-50%);
            }
            @include mq('sp') {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        letter-spacing: 1.4px;
    }
    &__imgContainerTextReverse {
        margin-top: 28px;
        font-size: clamp(1.5rem, 1.286rem + 0.95vw, 2rem);
        font-weight: bold;
    }
}

.p-aboutusValue {
    max-width: 1200px;
    &__TitleContainer {
        margin-top: 80px;
        text-align: center;
        position: relative;
    }
    &__Title {
        color: $color-background-sub;
        font-size: 28px;
        letter-spacing: 1.4px;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -9px;
            display: inline-block;
            width: 68px;
            height: 3px;
            transform: translateX(-50%);
            background-color: $color-background-sub;
        }
    }
    &__ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 76px;
        @include mq('sp') {
            flex-direction: column;
            margin-top: 56px;
        }
    }
    &__container {
        max-width: 500px;
        width: 41%;
        &:nth-child(n+3) {
            margin-top: 80px;
        }
        @include mq('sp') {
            width: 100%;
            &:nth-child(n+2) {
                margin-top: 44px;
            }
        }
    }
    &__textTitle {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: $color-background-sub;
    }
    &__text {
        margin-top: 20px;
        color: $color-background-sub;
        font-size: clamp(0.875rem, 0.821rem + 0.24vw, 1rem);
    }

}

.p-aboutusCompany {
    &__title {
        margin-top: 174px;
        @include mq('sp') {
            margin-top: 80px;
        }
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        @include mq('sp') {
            margin-top: 40px;
        }
    }
    &__ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    &__container {
        display: flex;
    }
    &__textTitleBox {
        width: 21%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px #F0F1F3;
        border-bottom: solid 1px #F0F1F3;
        background-color: $color-main;
    }
    &__textTitle {
        font-size: clamp(1rem, 0.893rem + 0.48vw, 1.25rem);
        font-weight: bold;
        color: $color-background-sub;
    }
    &__textWrapper {
        display: flex;
        align-items: center;
        width: 79%;
        height: 100px;
        border-top: solid 1px #C1C1C1;
        border-bottom: solid 1px #C1C1C1;
        border-right: solid 1px #C1C1C1;
        background-color: $color-background-sub;
    }
    &__text {
        margin-left: 10%;
        font-size: clamp(1rem, 0.893rem + 0.48vw, 1.25rem);
        font-weight: bold;
    }

}

.p-aboutusMember {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    background-color: #26226B;
    @include mq('sp') {
        margin-top: 80px;
    }
    &__inner {
        padding-top: 144px;
        padding-bottom: 144px;
        margin: 0;
        @include mq('sp') {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &__title {
        width: 100%;
    }
    &__wrapper {
        margin-top: 80px;
        max-width: 1200px;
        @include mq('sp') {
            margin-top: 52px;
        }
    }
    &__ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px;
        margin: 0;
        @include mq('sp') {
            flex-direction: column;
        }
    }
    &__container {
        width: 41%;
        &:nth-child(n+3) {
            margin-top: 80px;
        }
        @include mq('sp') {
            width: 100%;
            &:nth-child(n+2) {
                margin-top: 40px;
            }
        }
    }
    &__img {
        width: 100%;
    }
    &__textWrapper {
        padding: 56px 0;
        display: flex;
        align-items: center;
        border-bottom: solid 2px $color-background-sub;
        @include mq('sp') {
            padding: 40px 0;
        }
    }
    &__text {
        color: $color-background-sub;
    }
}