@use "../../Foundation/global" as *;

.p-article {
  margin-top: 80px;
}

.p-article__container {
  display: flex;
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.p-article__container--reverse {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  max-width: 1000px;
  width: 100%;
}

.p-article__imgContainer {
  max-width: 700px;
}

.p-article__image {
  width: 100%;
}

.p-article__work {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 8% 10% 18%;
  z-index: 10;
  top: 20%;
  right: 0;
  max-width: 500px;
  max-height: 400px;
}
.p-article__work--reverse {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 8% 10% 18%;
  z-index: 10;
  top: 20%;
  left: 0;
  max-width: 500px;
  max-height: 400px;
}

.p-article__title {
  font-size: 3vw;
  font-weight: bold;
}

.p-article__subTitle {
  font-size: 2vw;
}

.p-article__textContainer {
  margin-top: 10%;
}

.p-article__text {
  font-size: 2vw;
  white-space: nowrap;
}

.p-articleBtn {
  padding: 5px;
  width: 100%;
  margin-top: 10%;
}
.p-article__container + .p-article__container--reverse {
  margin-top: 20%;
}

.p-article__container--reverse + .p-article__container {
  margin-top: 20%;
}

@media (max-width: 599px) {
  .p-article__work {
    position: absolute;
    padding: 20% 10% 10%;
    top: 70%;
    left: 5%;
    /* max-width: 559px; */
    background-color: aqua;
  }

  .p-article__title {
    font-size: 4vw;
  }

  .p-article__subTitle {
    font-size: 2vw;
  }

  .p-article__text {
    font-size: 3vw;
    white-space: nowrap;
  }
  .p-article__work--reverse {
    position: absolute;
    padding: 20% 10% 10%;
    top: 70%;
    right: 5%;
    max-width: 550px;
  }

  .p-article__imgContainer {
    max-width: 600px;
    z-index: 30;
  }

  .c-btn {
    width: 100%;
  }

  .p-article__textContainer {
    margin-top: 5px;
    // font-size: 24px;
  }

  .p-article__container + .p-article__container--reverse {
    margin-top: 70%;
  }

  .p-article__container--reverse + .p-article__container {
    margin-top: 70%;
  }
}
