@use "../../Foundation/global" as *;
.p-contactAccess {
  &__image {
    position: relative;
    padding: 40px 0 85px;
    text-align: center;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
    @include mq(sp) {
      padding: 30px 0 75px;
    }
  }
  &__item {
    position: relative;
  }
  &__title {
    color: $color-background-sub;
    font-size: 48px;
    font-family: "游ゴシック体";
    @include mq(sp) {
      font-size: 32px;
    }
  }
  &__btn {
    position: relative;
    margin-top: 40px;
    background-color: $color-background-sub;
    padding: 28px 100px 28px 40px;
    text-decoration: none;
    font-weight: 600;
    font-family: "源ノ角ゴシック JP";
    display: inline-block;
    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 50px;
      top: calc(50% - 2px);
      border-top: solid 3px;
      border-right: solid 3px;
      transform: rotate(45deg) translateY(-50%);
    }
    @include mq(sp) {
      padding: 13px 65px 13px 25px;
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
  }
}
