@use "../../Foundation/global" as *;
@use "../../Foundation/mixin" as *;

.p-header {
  background-color: white;
  height: 100%;

  &__inner {
    display: flex;
  }
  &__logoWrapper {
    margin: auto 0;
  }

  &__img {
    height: 70px;
    margin: auto;
    @include mq("tab") {
      height: 40px;
    }
    @include mq("sp") {
      height: 40px;
      margin: auto;
    }
  }

  &__text {
    margin: auto 0;
    text-align: center;
    margin: auto 0;
    color: black;
    @include mq("sp") {
      line-height: 60px;
      margin-left: 5%;
      font-weight: lighter;
    }
  }

  &__nav {
    margin: auto 0 auto auto;
    @include mq("tab") {
      display: none;
    }
    @include mq("sp") {
      .p-header__nav {
        display: none;
      }
    }
  }

  &__navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
  }

  &__items {
    white-space: nowrap;
    // margin-right: 30px;
    @include mq("tab") {
      // margin-right: 10px;
    }
  }

  &__contact {
    white-space: nowrap;
    // margin-right: 30px;
  }

  &__contactBtn {
    padding: 10% 0;
    text-align: center;
    display: block;
    width: 139px;
  }
}
