@use "../../Foundation/global" as *;
@use "../../Foundation/mixin" as *;

.p-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;

  &__imgContainer {
    display: flex;
  }

  &__img {
    height: 70px;
    margin: auto;
    @include mq("sp") {
      height: 40px;
      margin: auto;
    }
  }

  &__text {
    line-height: 60px;
    font-family: monospace;
    margin: auto 5%;
    color: black;
    @include mq("sp") {
      line-height: 60px;
      margin-left: 5%;
      font-weight: lighter;
      font-size: 4vw;
    }
  }

  &__nav {
    margin: auto 0;
    @include mq("tab") {
      display: none;
    }
    @include mq("sp") {
      .p-header__nav {
        display: none;
      }
    }
  }

  &__navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__items {
    white-space: nowrap;
    margin-right: 30px;
    @include mq("tab") {
      margin-right: 10px;
    }
  }

  &__contact {
    white-space: nowrap;
    margin-right: 30px;
  }

  &__contactBtn {
    padding: 15% 20%;
  }
}
