@use "../../Foundation/global" as *;

.p-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.p-header__imgContainer {
  display: flex;
  margin: auto 5%;
}

.p-header__img {
  height: 60px;
}

.p-header__text {
  line-height: 60px;
  margin-left: 5%;
  font-family: monospace;
  font-size: 2.5vw;
}

.p-header__nav {
  margin: auto 5%;
  line-height: 30px;
}

.p-header__navList {
  display: flex;
  list-style: none;
}

.p-header__items {
  font-size: 1vw;
  white-space: nowrap;
}

.p-header__contact {
  font-size: 1vw;
  white-space: nowrap;
}

.p-headerLink {
  margin-right: 20px;
}

.p-header__contactBtn {
  padding: 10% 15%;
  margin-right: 10px;
}

@include mq("sp") {
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  width: calc(100% - #{$padding-sp} * 2);

  .p-header__nav {
    display: none;
  }

  .p-header__img {
    height: 50px;
  }

  .p-header__text {
    line-height: 60px;
    margin-left: 5%;
    font-family: monospace;
    font-size: 2.5vw;
  }
}
