@use "../../Foundation/global" as *;

.p-hero {
  margin: 0 auto;
  text-align: center;
  padding: 50px 20%;
}

.p-hero__title {
  font-size: 32px;
}

.p-hero__text {
  margin-top: 30px;
}

@media (max-width: 599px) {
  .p-hero {
    margin-top: 100px;
    text-align: center;
    padding: 0;
  }
}
