@use "../../Foundation/global" as *;

.p-hero {
  display: flex;
  position: relative;
  background-color: $color-main;
  overflow: hidden;
  height: 80vh;
  &__img {
    position: absolute;
    top: 0;
    left: 10%;
    width: calc(100% + (100vw - 100%) / 2);
    overflow: hidden;
    height: 100%;
    @include mq('tab') {
      width: calc(100vw - 5%);
      left: 5%;
    }
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__titleBox {
    position: absolute;
    top: 30%;
    left: 10%;
    @include mq('tab') {
      left: 5%;
    }
  }
  &__title {
    font-size: 3.5vw;
    border: 1px solid $color-text;
    background-color: $color-background-sub;
    width: fit-content;
    @include mq('tab') {
      font-size: 32px;
    }
    @include mq('sp') {
      font-size: 28px;
    }
  }
  &__newsBox {
    position: absolute;
    bottom: 0;
    left: 10%;
    align-items: center;
    background-color: $color-background-sub;
    display: flex;
    gap: 40px;
    padding: 40px;
    @include mq('tab') {
      padding: 25px 20px;
      left: 5%;
      align-items: center;
      font-size: 14px;
      width: 95%;
      right: 0;
    }
  }
  &__newsContent {
    display: flex;
    gap: 10px;
    align-items: center;
    @include mq('sp') {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__newsText {
    text-align: left;
  }
}