@use '../../Foundation/global'as *;
.p-main {
    margin: 0;
    padding: 150px 10%;
    min-width: 250px;
    font-family: '游ゴシック体';
    background-color: #EDEBEB;
    color: #3B4043;
    &__wrapper {
        text-align: center;
    }
    &__title {
        font-size: 35px;
    }
    &__lead {
        font-size: 15px;
    }
    &__list {
        margin-top: 100px;
        padding: 0;
        border: solid 1px #707070;
    }
    &__listItem {
        list-style: solid 1px #DDDDDD;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    &__listTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        max-width: 250px;
        height: 100%;
        font-size: 14px;
        text-align: center;
        background-color: #26226B;
        color: #fff;
        &:not(:last-child) {
            border-bottom: solid 2px #F0F1F3;
        }
    }
    &__listText {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 0 10px;
        background-color: #fff;
        height: 100%;
        font-size: 12px;
        &:not(:first-child) {
            border-bottom: solid 2px #C1C1C1;
        }
    }
}

.p-recruitForm {
    &__wrapper {
        padding-top: 100px;
        margin: 0 auto;
        width: 50%;
        min-width: 300px;

        & label {
            font-size: 18px;
            font-weight: 900;
            font-family: 'Yu Gothic';
        }
    }
    &__title {
        font-size: 40px;
        text-align: center;
    }
    &__lead {
        font-size: 15px;
        text-align: center;
    }
    &__precautions {
        max-width: 450px;
        margin: 10px auto 0;
    }
    &__inputColumn {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 30px;
        & > input {
            margin-top: 10px;
            padding-left: 10px;
            border-radius: 5px;
            border: solid 1px #DDDDDD;
            height: 45px;
        }
    }
    &__attention {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 100;
        background-color: #FF7F00;
        color: #fff;
    }
    &__choiceColumn {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        width: 100%;
        padding-top: 30px;
        & > select {
            margin-top: 10px;
            padding-left: 10px;
            border-radius: 5px;
            border: solid 1px #DDDDDD;
            height: 45px;
        }
        & > select:invalid {
            color: #828282;
        }
    }
    &__otherColumn {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 30px;
        & > textarea {
            margin-top: 30px;
            padding: 20px 0 0 10px;
            border-radius: 5px;
            border: solid 1px #DDDDDD;
            width: 100%;
            height: 240px;
        }
        & > p {
            margin-top: 30px;
            & > a {
                text-decoration: none;
            }
        }
    }
    &__btm {
        margin-top: 30px;
        text-align: center;
        & > input {
            padding: 0;
            margin-top: 30px;
            min-width: 330px;
            width: 70%;
            height: 80px;
            background-color: #F2F2F2;
            border: none;
            color: #828282;
            font-size: 22px;
        }
    }
}
