@use "../../Foundation/global" as *;

.p-serviceShow {
  padding: 160px 0;
  @include mq("sp") {
    padding: 100px 0;
  }

  &__container + &__container {
    margin-top: 160px;
    @include mq("sp") {
      margin-top: 100px;
    }
  }
  &__title {
    text-align: center;
    color: #000000;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 2px;
      display: inline-block;
      background-color: #000000;
      position: absolute;
      bottom: -10px;
      text-align: center;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
  &__text {
    margin-top: 100px;
    color: $color-text;
    @include mq("sp") {
      margin-top: 60px;
    }
  }
}
