@use "../../Foundation/global" as *;

.p-serviceShow {
  padding: 160px 0;

  &__container + &__container {
    margin-top: 160px;
  }
  &__title {
    text-align: center;
    color: #000000;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 2px;
      display: inline-block;
      background-color: #000000;
      position: absolute;
      bottom: -10px;
      left: calc(50% - 35px);
    }
  }
  &__text {
    margin-top: 100px;
    color: #3b4043;
  }
}
