@use "../../Foundation/global" as *;

.p-topBusiness {
  &__background {
    background-color: $color-main;
    padding: 160px 0px;
    @include mq('sp') {
      padding: 80px 0px;
    }
  }
  &__titleBox {
    text-align: center;

  }
  &__title {
    font-size: 32px;
    color: $color-background-sub;
    @include mq('sp') {
      font-size: 24px;
    }
  }
  &__subTitle {
    font-size: $font-size-base;
    margin-top: 10px;
    color: $color-background;
    @include mq('sp') {
      font-size: 14px;
    }
  }
  &__list {
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    @include mq('tab') {
      gap: 30px;
    }
    @include mq('sp') {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__listItem {
    width: 30%;
    max-width: 350px;
    position: relative;
    @include mq('tab') {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
    @include mq('sp') {
      max-width: 350px;
    }
  }
  &__listImg img {
    min-height: 520px;
    object-fit: cover;
    @include mq('sp') {
      min-height: 400px;
    }
    @include mq('sp') {
      min-height: 340px;
    }
  }
  &__textBox {
    padding: 40px;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    opacity: $hover-opacity;
    @include mq('tab') {
      padding: 20px;
    }
  }
  &__listTitle {
    font-size: min(2.2vw,32px);
    color: $color-background-sub;
    @include mq('tab') {
      font-size: 24px;
    }
  }
  &__listText {
    margin-top: 25px;
    font-size: $font-size-base;
    color: $color-background-sub;
    @include mq('sp') {
      margin-top: 20px;
      font-size: 14px;
    }
  }
  &__btn {
    display: block;
    margin: 80px auto 0px;
    font-size: $font-base;
    color: $color-background-sub;
    width: 250px;
    height: 80px;
    text-align: center;
    border: 2px solid $color-background-sub;
    background-color: $color-main;
    cursor: pointer;
    @include mq('sp') {
      height: 50px;
      margin: 40px auto 0px;
   }
  }
}