@use "../../Foundation/global" as *;

.p-topHero {
  display: flex;
  position: relative;
  background-color: $color-main;
  overflow: hidden;
  height: 90vh;
  &__img {
    position: absolute;
    top: 0;
    left: 5%;
    width: calc(100% + (100vw - 100%) / 2);
    overflow: hidden;
    height: 100%;
    @include mq("tab") {
      width: calc(100vw - 5%);
      left: 5%;
    }
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__titleBox {
    position: absolute;
    top: 30%;
    left: 5%;
    @include mq("tab") {
      left: 5%;
    }
  }
  &__title {
    font-size: 3.5vw;
    color: white;
    width: fit-content;
    @include mq("tab") {
      font-size: 32px;
    }
    @include mq("sp") {
      font-size: 28px;
    }
  }
}