@use '../../Foundation/global'as *;

.p-topNews {
  position: absolute;
  bottom: 0;
  left: 5%;
  align-items: center;
  background-color: $color-background-sub;
  display: flex;
  gap: 40px;
  padding: 0 40px;
  text-decoration: none;
  @include mq("tab") {
    flex-direction: column;
    left: 5%;
    align-items: center;
    font-size: 14px;
    width: 95%;
    gap: 0;
    padding: 20px 10px;
  }
  &__listItem {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100% !important; // CDN上書き
    padding: 40px 0;
    @include mq("tab") {
      padding: 10px 0;
    }
    @include mq("sp") {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__link {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include mq("tab") {
      max-width: none;
    }
  }
}
.bx-wrapper {
  width: 100%;
  max-width: none;
  margin-bottom: 0;
  box-shadow: none;
}
