@use "../../Foundation/global" as *;

.p-topAboutUs {
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  @include mq('sp') {
    padding-bottom: 80px;
  }
  &__background {
    position: absolute;
    height: 500px;
    width: 100%;
    background: $color-background;
    background-image: linear-gradient(to left top,transparent 50%, $color-main 50%);
    @include mq('tab') {
      height: 350px;
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    text-align: center;
    color: transparent;
    font-size:min(11.5vw,160px); /*  vw=160px(フォントサイズ)/1400px(画面幅)*100 */
    -webkit-text-stroke: 1px $color-background-sub;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include mq('sp') {
      flex-direction: column;
    }
  }
  &__imgList {
    list-style: none;
    display: flex;
    padding: 0;
    width: 45%;
    @include mq('sp') {
      justify-content: center;
      width: 100%;
    }
  }
  &__imgListItem {
    &:nth-child(1) {
      margin-top: 50px;
    }
    &:nth-child(2) {
      margin-top: 70px;
    }
  }
  &__img {
    max-width: 150px;
  }
  &__img img {
    height: 300px;
    object-fit: cover;
  }
  &__textBox {
    display: flex;
    flex-direction: column;
    width: 45%;
    @include mq('sp') {
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
    }
  }
  &__subTitle {
    font-size: 28px;
    color: #000000;
    @include mq('sp') {
      font-size: 20px;
      width: 80%;
    }
  }
  &__textWrap {
    margin-top: 40px;
    @include mq('sp') {
      margin-top: 20px;
    }
  }
  &__text:not(:first-child) {
    margin-top: 20px;
  }
  &__btn {
    display: block;
    margin-top: 40px;
    width: 250px;
    height: 80px;
    @include mq('tab') {
      height: 50px;
      margin: 20px auto 0px;
    }
  }
}