@use '../../Foundation/global'as *;

.p-topNews {
  position: absolute;
  bottom: 0;
  left: 5%;
  align-items: center;
  background-color: $color-background-sub;
  display: flex;
  gap: 40px;
  padding: 0 40px;
  text-decoration: none;
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mq("tab") {
    max-width: 500px;
    left: 5%;
    font-size: 14px;
    width: 95%;
    gap: 20px;
    padding: 20px;
  }
  &__listItem {
    gap: 10px;
    width: 100%;
    padding: 40px 0;
    @include mq("tab") {
      padding: 10px 0;
    }
    @include mq("sp") {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__link {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mq("tab") {
      max-width: none;
    }
  }
}

.slider {
  visibility: hidden;
}
.slider.slick-initialized{
  visibility: visible;
}