@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  color: #3B4043;
  letter-spacing: normal;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-height: 100%;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a,
a:hover,
a:visited {
  color: inherit;
}

img,
picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 20;
}
@media (max-width: 599px) {
  .l-header {
    height: 80px;
  }
}

.l-main {
  padding-top: 100px;
  background-color: #EDEBEB;
}
@media (max-width: 599px) {
  .l-main {
    padding-top: 80px;
  }
}

.l-container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
@media (max-width: 599px) {
  .l-container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

.l-footer {
  width: 100%;
}

.l-wrapper {
  min-height: 100vh;
  position: relative;
}

.c-sample {
  font-size: 18px;
  background-color: #26226B;
}

.c-link {
  text-decoration: none;
  color: black;
}

.c-btn {
  color: #FFF;
  background: -webkit-gradient(linear, left top, right top, from(rgb(3, 3, 83)), to(rgb(218, 214, 244)));
  background: -webkit-linear-gradient(left, rgb(3, 3, 83), rgb(218, 214, 244));
  background: linear-gradient(to right, rgb(3, 3, 83), rgb(218, 214, 244));
  border: none;
  text-decoration: none;
}

@media (max-width: 900px) {
  #c-humberger {
    position: relative;
    height: 20px;
    width: 70px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: auto;
  }
  #c-humberger div {
    position: absolute;
    left: 20px;
    height: 2px;
    width: 50%;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #c-humberger div:nth-of-type(1) {
    bottom: 20px;
  }
  #c-humberger div:nth-of-type(2) {
    bottom: 10px;
  }
  #c-humberger div:nth-of-type(3) {
    bottom: 0;
  }
}
@media (max-width: 599px) {
  #c-humberger {
    position: relative;
    height: 20px;
    width: 70px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #c-humberger div {
    position: absolute;
    left: 20px;
    height: 2px;
    width: 50%;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #c-humberger div:nth-of-type(1) {
    bottom: 20px;
  }
  #c-humberger div:nth-of-type(2) {
    bottom: 10px;
  }
  #c-humberger div:nth-of-type(3) {
    bottom: 0;
  }
}
.p-example {
  width: 300px;
  height: 100px;
}

.p-topHero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #26226B;
  overflow: hidden;
  height: 80vh;
}
.p-topHero__img {
  position: absolute;
  top: 0;
  left: 10%;
  width: calc(100% + (100vw - 100%) / 2);
  overflow: hidden;
  height: 100%;
}
@media (max-width: 900px) {
  .p-topHero__img {
    width: calc(100vw - 5%);
    left: 5%;
  }
}
.p-topHero__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-topHero__titleBox {
  position: absolute;
  top: 30%;
  left: 10%;
}
@media (max-width: 900px) {
  .p-topHero__titleBox {
    left: 5%;
  }
}
.p-topHero__title {
  font-size: 3.5vw;
  border: 1px solid #3B4043;
  background-color: #FFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 900px) {
  .p-topHero__title {
    font-size: 32px;
  }
}
@media (max-width: 599px) {
  .p-topHero__title {
    font-size: 28px;
  }
}
.p-topHero__newsBox {
  position: absolute;
  bottom: 0;
  left: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 40px;
}
@media (max-width: 900px) {
  .p-topHero__newsBox {
    padding: 25px 20px;
    left: 5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    width: 95%;
    right: 0;
  }
}
.p-topHero__newsContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 599px) {
  .p-topHero__newsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.p-topHero__newsText {
  text-align: left;
}

.p-topAboutUs {
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 599px) {
  .p-topAboutUs {
    padding-bottom: 80px;
  }
}
.p-topAboutUs__background {
  position: absolute;
  height: 500px;
  width: 100%;
  background: #EDEBEB;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #26226B));
  background-image: -webkit-linear-gradient(right bottom, transparent 50%, #26226B 50%);
  background-image: linear-gradient(to left top, transparent 50%, #26226B 50%);
}
@media (max-width: 900px) {
  .p-topAboutUs__background {
    height: 350px;
  }
}
.p-topAboutUs__title {
  position: relative;
  z-index: 2;
  text-align: center;
  color: transparent;
  font-size: min(11.5vw, 160px); /*  vw=160px(フォントサイズ)/1400px(画面幅)*100 */
  -webkit-text-stroke: 1px #FFF;
}
.p-topAboutUs__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 599px) {
  .p-topAboutUs__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-topAboutUs__imgList {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 45%;
}
@media (max-width: 599px) {
  .p-topAboutUs__imgList {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.p-topAboutUs__imgListItem:nth-child(1) {
  margin-top: 50px;
}
.p-topAboutUs__imgListItem:nth-child(2) {
  margin-top: 70px;
}
.p-topAboutUs__img {
  max-width: 150px;
}
.p-topAboutUs__img img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-topAboutUs__textBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
@media (max-width: 599px) {
  .p-topAboutUs__textBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }
}
.p-topAboutUs__subTitle {
  font-size: 28px;
  color: #000000;
}
@media (max-width: 599px) {
  .p-topAboutUs__subTitle {
    font-size: 20px;
    width: 80%;
  }
}
.p-topAboutUs__textWrap {
  margin-top: 40px;
}
@media (max-width: 599px) {
  .p-topAboutUs__textWrap {
    margin-top: 20px;
  }
}
.p-topAboutUs__text:not(:first-child) {
  margin-top: 20px;
}

.p-topBusiness__background {
  background-color: #26226B;
  padding: 160px 0px;
}
@media (max-width: 599px) {
  .p-topBusiness__background {
    padding: 80px 0px;
  }
}
.p-topBusiness__titleBox {
  text-align: center;
}
.p-topBusiness__title {
  font-size: 32px;
  color: #FFF;
}
@media (max-width: 599px) {
  .p-topBusiness__title {
    font-size: 24px;
  }
}
.p-topBusiness__subTitle {
  font-size: 16px;
  margin-top: 10px;
  color: #EDEBEB;
}
@media (max-width: 599px) {
  .p-topBusiness__subTitle {
    font-size: 14px;
  }
}
.p-topBusiness__list {
  margin-top: 40px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
@media (max-width: 900px) {
  .p-topBusiness__list {
    gap: 30px;
  }
}
@media (max-width: 599px) {
  .p-topBusiness__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.p-topBusiness__listItem {
  width: 30%;
  max-width: 350px;
  position: relative;
}
@media (max-width: 900px) {
  .p-topBusiness__listItem {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 599px) {
  .p-topBusiness__listItem {
    max-width: 350px;
  }
}
.p-topBusiness__listImg img {
  min-height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 599px) {
  .p-topBusiness__listImg img {
    min-height: 400px;
  }
}
@media (max-width: 599px) {
  .p-topBusiness__listImg img {
    min-height: 340px;
  }
}
.p-topBusiness__textBox {
  padding: 40px;
  position: absolute;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
}
@media (max-width: 900px) {
  .p-topBusiness__textBox {
    padding: 20px;
  }
}
.p-topBusiness__listTitle {
  font-size: min(2.2vw, 32px);
  color: #FFF;
}
@media (max-width: 900px) {
  .p-topBusiness__listTitle {
    font-size: 24px;
  }
}
.p-topBusiness__listText {
  margin-top: 25px;
  font-size: 16px;
  color: #FFF;
}
@media (max-width: 599px) {
  .p-topBusiness__listText {
    margin-top: 20px;
    font-size: 14px;
  }
}
.p-topBusiness__btn {
  display: block;
  margin: 80px auto 0px;
  font-size: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #FFF;
  width: 250px;
  height: 80px;
  text-align: center;
  border: 2px solid #FFF;
  background-color: #26226B;
}
@media (max-width: 599px) {
  .p-topBusiness__btn {
    height: 50px;
    margin: 40px auto 0px;
  }
}

.p-topWorks {
  padding: 160px 0px;
}
@media (max-width: 599px) {
  .p-topWorks {
    padding: 80px 0px;
  }
}
.p-topWorks__titleBox {
  text-align: center;
}
.p-topWorks__title {
  font-size: 32px;
  color: #3B4043;
}
@media (max-width: 599px) {
  .p-topWorks__title {
    font-size: 24px;
  }
}
.p-topWorks__subTitle {
  font-size: 16px;
  margin-top: 10px;
  color: #3B4043;
}
.p-topWorks__list {
  margin-top: 40px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  position: relative;
}
@media (max-width: 900px) {
  .p-topWorks__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.p-topWorks__listItem {
  width: 30%;
  max-width: 380px;
  position: relative;
}
@media (max-width: 900px) {
  .p-topWorks__listItem {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
}
.p-topWorks__listItem a {
  text-decoration: none;
}
.p-topWorks__img {
  width: 100%;
  height: 22vw;
  max-height: 320px;
}
@media (max-width: 900px) {
  .p-topWorks__img {
    height: 64vw;
    max-height: 400px;
  }
}
.p-topWorks__textBox {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  padding: 30% 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.p-topWorks__textBox:hover {
  color: #FFF;
  opacity: 0.7;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 900px) {
  .p-topWorks__textBox {
    position: static;
    opacity: 1;
    margin-top: 20px;
    padding: 0;
    text-align: left;
    font-size: 24px;
    color: #3B4043;
  }
}
@media (max-width: 599px) {
  .p-topWorks__textBox {
    font-size: 16px;
  }
}
.p-topWorks__text {
  margin-top: 8px;
}
@media (max-width: 599px) {
  .p-topWorks__text {
    margin-top: 13px;
  }
}

.p-topCompany {
  padding-bottom: 160px;
}
.p-topCompany__titleBox {
  text-align: center;
}
.p-topCompany__title {
  font-size: 32px;
  color: #3B4043;
}
@media (max-width: 599px) {
  .p-topCompany__title {
    font-size: 24px;
  }
}
.p-topCompany__subTitle {
  font-size: 16px;
  margin-top: 10px;
  color: #3B4043;
}
.p-topCompany__list {
  margin-top: 80px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  row-gap: 40px;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
@media (max-width: 599px) {
  .p-topCompany__list {
    margin-top: 60px;
    row-gap: 20px;
  }
}
.p-topCompany__listItem {
  width: 21%;
}
@media (max-width: 900px) {
  .p-topCompany__listItem {
    width: 47%;
  }
}

@media (max-width: 900px) {
  .p-topScroll {
    display: none;
  }
}
.p-topScroll__text--message {
  position: fixed;
  left: 10px;
  bottom: 200px; /* back to page  とかぶって見えなかったので200pxにしてあります */
  display: block;
  width: 20px;
  height: 160px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
.p-topScroll__text--message span {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #FFF;
  letter-spacing: 0.05em;
}
.p-topScroll__text--message::after {
  content: "";
  position: absolute;
  top: 70px;
  width: 1px;
  height: 100px;
  background-color: #FFF;
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  opacity: 1;
  left: 54%;
}
.p-topScroll__text--top {
  position: fixed;
  left: 10px;
  bottom: 50px;
  display: block;
  width: 20px;
  height: 180px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
.p-topScroll__text--top span {
  position: absolute;
  bottom: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #FFF;
  letter-spacing: 0.05em;
}
.p-topScroll__view {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  51% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  51% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}
.p-works {
  padding: 80px 0px 300px;
}
@media (max-width: 900px) {
  .p-works {
    padding: 80px 0px 185px;
  }
}
.p-works__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 80px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 900px) {
  .p-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.p-works__listItem {
  width: calc((100% - 80px) / 3);
  max-width: 380px;
  position: relative;
}
@media (max-width: 900px) {
  .p-works__listItem {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
}
.p-works__listItem a {
  text-decoration: none;
}
.p-works__img {
  width: 100%;
  aspect-ratio: 19/16;
}
.p-works__textBox {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  padding: 30% 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.p-works__textBox:hover {
  color: #FFF;
  opacity: 0.7;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 900px) {
  .p-works__textBox {
    position: static;
    opacity: 1;
    margin-top: 20px;
    padding: 0;
    text-align: left;
    font-size: 24px;
    color: #3B4043;
  }
}
@media (max-width: 599px) {
  .p-works__textBox {
    font-size: 16px;
  }
}
.p-works__text {
  margin-top: 8px;
}
@media (max-width: 599px) {
  .p-works__text {
    margin-top: 13px;
  }
}

.p-footer {
  background-color: #26226B;
  padding: 80px 0px 40px;
}
@media (max-width: 900px) {
  .p-footer {
    padding: 40px 0px;
  }
}
.p-footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 900px) {
  .p-footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-footer__textBox {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FFF;
  gap: 40px;
  padding: 0;
}
@media (max-width: 900px) {
  .p-footer__textBox {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-footer__text {
  position: relative;
}
@media (max-width: 900px) {
  .p-footer__text {
    text-align: center;
  }
}
.p-footer__text:first-child::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  right: -20px;
  background-color: #FFF;
}
@media (max-width: 900px) {
  .p-footer__text:first-child::after {
    content: none;
  }
}
.p-footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  text-align: left;
}
@media (max-width: 900px) {
  .p-footer__menu {
    margin: 20px auto 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
    font-size: 14px;
  }
}
.p-footer__menuItem {
  width: 80px;
}
@media (max-width: 900px) {
  .p-footer__menuItem {
    width: 20%;
    text-align: center;
  }
}
.p-footer__listBox {
  padding: 0;
  list-style: none;
  font-size: 14px;
  margin-top: 20px;
  white-space: nowrap;
  text-align: left;
}
@media (max-width: 900px) {
  .p-footer__listBox {
    display: none;
  }
}
.p-footer__item:not(:first-child) {
  margin-top: 20px;
}
.p-footer__copyRight {
  margin-top: 50px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
}
.p-footer a {
  color: #FFF;
  text-decoration: none;
}

.p-header {
  background-color: #FFF;
  height: 100%;
}
.p-header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-header__logoWrapper {
  height: 50px;
}
@media (max-width: 900px) {
  .p-header__img {
    height: 40px;
  }
}
@media (max-width: 599px) {
  .p-header__img {
    height: 40px;
    margin: auto;
  }
}
.p-header__text {
  text-align: center;
  color: black;
}
@media (max-width: 599px) {
  .p-header__text {
    line-height: 60px;
    margin: auto 0;
    font-weight: lighter;
  }
}
.p-header__nav {
  margin-left: auto;
}
.p-header__navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 30px;
}
.p-header__items {
  white-space: nowrap;
}
.p-header__contact {
  white-space: nowrap;
}
.p-header__contactBtn {
  display: block;
  width: 150px;
  text-align: center;
  line-height: 50px;
}

.p-main {
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  max-width: 700px;
}
@media (max-width: 599px) {
  .p-main {
    padding-top: 60px;
  }
}
.p-main__title {
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.p-main__text {
  margin-top: 30px;
}

.p-service {
  padding: 160px 0;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .p-service {
    padding: 60px 0 80px;
  }
}
.p-service__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 75px;
}
@media (max-width: 900px) {
  .p-service__container {
    padding-top: 120px;
  }
}
@media (max-width: 599px) {
  .p-service__container {
    margin: 0 auto;
    padding-top: 140px;
  }
}
.p-service__container + .p-service__container {
  margin-top: 80px;
}
@media (max-width: 599px) {
  .p-service__container + .p-service__container {
    margin-top: 40px;
  }
}
.p-service__imgContainer {
  max-width: 700px;
  width: 70%;
  max-height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media (max-width: 900px) {
  .p-service__imgContainer {
    min-height: 400px;
  }
}
@media (max-width: 599px) {
  .p-service__imgContainer {
    width: calc(100% + 20px);
    z-index: 15;
    left: -20px;
    height: 200px;
    min-height: auto;
  }
}
.p-service__imgContainer--reverse {
  right: 0;
}
@media (max-width: 599px) {
  .p-service__imgContainer--reverse {
    left: 0;
  }
}
.p-service__image {
  width: 100%;
}
.p-service__work {
  width: 500px;
  background-color: #FFF;
  text-align: center;
  padding: 80px 5% 60px;
  z-index: 10;
  margin-left: auto;
}
@media (max-width: 900px) {
  .p-service__work {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .p-service__work {
    width: 100%;
    position: relative;
    padding: 80px 5% 40px;
    z-index: 10;
    margin-left: auto;
  }
}
.p-service__work--reverse {
  width: 500px;
  background-color: #FFF;
  text-align: center;
  padding: 80px 5% 60px;
  z-index: 10;
  margin-right: auto;
}
@media (max-width: 900px) {
  .p-service__work--reverse {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .p-service__work--reverse {
    width: 100%;
    position: relative;
    padding: 80px 5% 40px;
    z-index: 10;
    right: 0;
    margin-right: auto;
  }
}
.p-service__title {
  font-weight: bold;
  color: black;
}
.p-service__subTitle {
  color: #acacac;
  margin-top: 10px;
}
@media (max-width: 599px) {
  .p-service__subTitle {
    margin-top: 20px;
  }
}
.p-service__text {
  word-break: break-all;
  color: #707070;
  margin-top: 40px;
}
@media (max-width: 599px) {
  .p-service__text {
    margin-top: 20px;
  }
}
.p-service__btn {
  height: 50px;
  width: 100%;
  margin-top: 40px;
  max-width: 250px;
}

.p-serviceShow {
  padding: 160px 0;
}
@media (max-width: 599px) {
  .p-serviceShow {
    padding: 100px 0;
  }
}
.p-serviceShow__container + .p-serviceShow__container {
  margin-top: 160px;
}
@media (max-width: 599px) {
  .p-serviceShow__container + .p-serviceShow__container {
    margin-top: 100px;
  }
}
.p-serviceShow__title {
  text-align: center;
  color: #000000;
  position: relative;
  padding-bottom: 10px;
  font-size: 32px;
}
.p-serviceShow__title::after {
  content: "";
  width: 70px;
  height: 2px;
  display: inline-block;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.p-serviceShow__text {
  margin-top: 100px;
  color: #3B4043;
}
@media (max-width: 599px) {
  .p-serviceShow__text {
    margin-top: 60px;
  }
}

.u-hidden {
  display: none;
}

@media (min-width: 901px) {
  .u-hidden-pc {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .u-hidden-tab {
    display: none;
  }
}

@media (max-width: 599px) {
  .u-hidden-sp {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */