@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  color: #3B4043;
  letter-spacing: normal;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-height: 100%;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 20;
}
@media (max-width: 599px) {
  .l-header {
    height: 80px;
  }
}

.l-main {
  padding-top: 100px;
  background-color: #EDEBEB;
}
@media (max-width: 599px) {
  .l-main {
    padding-top: 80px;
  }
}

.l-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 30px * 2);
  }
}
@media (max-width: 599px) {
  .l-container {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 20px * 2);
  }
}

.l-footer {
  padding: 0 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 900px) {
  .l-footer {
    padding: 0 30px;
  }
}
@media (max-width: 599px) {
  .l-footer {
    padding: 0 20px;
  }
}

.l-wrapper {
  min-height: 100vh;
  position: relative;
}

.c-sample {
  font-size: 18px;
  background-color: #26226B;
}

.c-link {
  text-decoration: none;
  color: black;
}

.c-btn {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgb(3, 3, 83)), to(rgb(218, 214, 244)));
  background: -webkit-linear-gradient(left, rgb(3, 3, 83), rgb(218, 214, 244));
  background: linear-gradient(to right, rgb(3, 3, 83), rgb(218, 214, 244));
  border: none;
  text-decoration: none;
}

@media (max-width: 599px) {
  #c-humberger {
    position: relative;
    height: 50px;
    width: 80px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #c-humberger div {
    position: absolute;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #c-humberger div:nth-of-type(1) {
    bottom: 20px;
  }
  #c-humberger div:nth-of-type(2) {
    bottom: 10px;
  }
  #c-humberger div:nth-of-type(3) {
    bottom: 0;
  }
}
.p-example {
  width: 300px;
  height: 100px;
}

.p-header {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.p-header__imgContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto 5%;
}

.p-header__img {
  height: 60px;
}

.p-header__text {
  line-height: 60px;
  margin-left: 5%;
  font-family: monospace;
  font-size: 2.5vw;
}

.p-header__nav {
  margin: auto 5%;
  line-height: 30px;
}

.p-header__navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.p-header__items {
  font-size: 1vw;
  white-space: nowrap;
}

.p-header__contact {
  font-size: 1vw;
  white-space: nowrap;
}

.p-headerLink {
  margin-right: 20px;
}

.p-header__contactBtn {
  padding: 10% 15%;
  margin-right: 10px;
}

@media (max-width: 599px) {
  .p-header__nav {
    display: none;
  }
  .p-header__img {
    height: 50px;
  }
  .p-header__text {
    line-height: 60px;
    margin-left: 5%;
    font-family: monospace;
    font-size: 2.5vw;
  }
}
.p-hero {
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  max-width: 700px;
}

.p-hero__title {
  font-size: 32px;
}

.p-hero__text {
  margin-top: 30px;
}

@media (max-width: 599px) {
  .p-hero {
    margin-top: 100px;
    text-align: center;
    padding: 0;
  }
}
.p-article {
  margin-top: 80px;
}

.p-article__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.p-article__container--reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  max-width: 1000px;
  width: 100%;
}

.p-article__imgContainer {
  max-width: 700px;
}

.p-article__image {
  width: 100%;
}

.p-article__work {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 8% 10% 18%;
  z-index: 10;
  top: 20%;
  right: 0;
  max-width: 500px;
  max-height: 400px;
}

.p-article__work--reverse {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 8% 10% 18%;
  z-index: 10;
  top: 20%;
  left: 0;
  max-width: 500px;
  max-height: 400px;
}

.p-article__title {
  font-size: 3vw;
  font-weight: bold;
}

.p-article__subTitle {
  font-size: 2vw;
}

.p-article__textContainer {
  margin-top: 10%;
}

.p-article__text {
  font-size: 2vw;
  white-space: nowrap;
}

.p-articleBtn {
  padding: 5px;
  width: 100%;
  margin-top: 10%;
}

.p-article__container + .p-article__container--reverse {
  margin-top: 20%;
}

.p-article__container--reverse + .p-article__container {
  margin-top: 20%;
}

@media (max-width: 599px) {
  .p-article__work {
    position: absolute;
    padding: 20% 10% 10%;
    top: 70%;
    left: 5%;
    /* max-width: 559px; */
    background-color: aqua;
  }
  .p-article__title {
    font-size: 4vw;
  }
  .p-article__subTitle {
    font-size: 2vw;
  }
  .p-article__text {
    font-size: 3vw;
    white-space: nowrap;
  }
  .p-article__work--reverse {
    position: absolute;
    padding: 20% 10% 10%;
    top: 70%;
    right: 5%;
    max-width: 550px;
  }
  .p-article__imgContainer {
    max-width: 600px;
    z-index: 30;
  }
  .c-btn {
    width: 100%;
  }
  .p-article__textContainer {
    margin-top: 5px;
  }
  .p-article__container + .p-article__container--reverse {
    margin-top: 70%;
  }
  .p-article__container--reverse + .p-article__container {
    margin-top: 70%;
  }
}
.u-hidden {
  display: none;
}

@media (min-width: 901px) {
  .u-hidden-pc {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .u-hidden-tab {
    display: none;
  }
}

@media (max-width: 599px) {
  .u-hidden-sp {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */